
@{
    ViewBag.Title = "Index2";
}

<div class="margin-top-light mb-3 mx-auto" style="max-width: 40rem;">
    <div class="card-body text-center">
        <a href="@Url.Action("Index", "Home")" class="customLink">
            <div class="card bg-success mx-auto card-body" style="max-width: 30rem;">
                <h4>Documents</h4>
            </div>
        </a>
        <hr />
        <a href="@Url.Action("EmployeesReport", "Home")" class="customLink">
            <div class="card bg-info mx-auto card-body" style="max-width: 30rem;">
                <h4>Employees</h4>
            </div>
        </a>

    </div>

</div>
